%h1.tagline A Crazy Networking Experiment

%h3 Build A Network - Explore Your Six Degrees
%ol.build_network
  %li
    Start a private network by
    = link_to("creating a page >", new_profile_path)
    .small (add to it as much or as little as you want)
  %li
    Share your page with friends
    .small (no one can find your page unless you share it with them or they are in the same network)
  %li
    Each person you share your page with can create a page in the network.
    .small
      (you'll be able to see where they are on the map and view their page)
  %li
    When your friends share their own page the network grows.
  %li
    You can now see their connections on the map and view their pages.
  %li
    Traverse the connections as far as they go. Explore your six+ degrees.

Confused?
%p Just create a page and share it with a few friends. You'll get it soon enough.
%p= link_to("Create A Page >", new_profile_path)
%br
%br
%br
%br
