:javascript
  $(function(){
    $("#user_slug").focus(function() {
      if ($(this).val() == "your_name") $(this).val("");
    });

    $("#user_slug").focusout(function() {
      if ($(this).val() == "") $(this).val("your_name");
    });
  });

%h1.tagline A Crazy Networking Experiment

